<div class="modal fade" id="grade_<%= grade %>" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Оценка
        </h4>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <%= form_for assignment, url: assignment_grade_path(assignment.id),method: :PUT, html: { id: "assignment_for_#{assignment.id}" } do |f| %>
            <button type="button" class="btn btn-danger"
                    data-dismiss="modal">
              Отмена
            </button>
            <%= f.text_field :grade, placeholder: 'От 0 до 100 балов' %>
            <%= f.submit 'Поставить оценку', {class: "btn btn-success"}%>
        <% end  %>
      </div>
    </div>
  </div>
</div>