<table class="table table-bordered table-striped">
  <tr>
    <th> Домашняя работа </th>
    <th> Студент </th>
    <th> Оценка </th>
    <th> Учитель </th>
  </tr>
  <% if @assignments.empty? %>

  <% else %>
      <% @assignments.each do |assignment| %>
          <tr>
            <td><%= assignment.name %></td>
            <td><%= User.find(assignment.user_id).name %></td>
            <td><%= assignment.grade %></td>
          </tr>
      <% end %>
  <% end %>
</table>
