<table class="table table-hover">
  <thead>
  <tr>
    <th>Название темы</th>
    <th>Тип занятия</th>
  </tr>
  </thead>
  <tbody>
      <% @course_elements.each do |course_element| %>
          <tr>
            <td><%= course_element.theme %></td>
            <td><%= course_element.element_type %></td>
          </tr>
      <% end %>
  </tbody>
</table>