<div class="row">
  <div class="col-md-4">
    <h1>Таблица занятий</h1>
  </div>
</div></br>

<%= link_to 'Создать новое занятие', new_course_period_path(@course.id), class: 'btn btn-primary', style: 'margin-bottom: 10px' %>

<div id="calendar"> </div>

<%= p params %>