<div class="row">
  <div id="calendar" data-request-url="<%=course_periods_path(@course) %>" class="col-md-8"> </div>
  <div class="col-md-4">
    <%= provide :button_text, @button_text %>
    <%=	 render 'periods/form' %>
  </div>
</div>