<div class="row">
  <div class="col-md-4">
    <h1>Таблица занятий</h1>
  </div>
</div></br>
<div class="row">
  <div id="calendar" class="col-md-7"> </div>
  <div class="col-md-5">
    <%= provide :button_text, @button_text %>
    <%=	 render 'periods/form' %>
  </div>
</div>