<div class="col-sm-6">
    <%= link_to '<i class="glyphicon glyphicon-pencil" id="edit_contact_list"></i>'.html_safe, edit_contact_list_path(@contact_list), class: 'btn btn-default btn-xs right' %>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
          <% @contact_list.users.each do |student| %>
          <tr>
            <td class="col-sm-3"><%= student.name %></td>
            <td class="col-sm-2">
              <%= student.contact.phone %>
            </td>
            <td class="col-sm-1">

            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
