<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <tr>
          <% @contact_list.users.each do |student| %>
          <tr>
            <td class="col-sm-3"><%= student.name %></td>
            <td class="col-sm-2">
              <%= student.contact.phone %>
            </td>
            <td class="col-sm-1">
              <%= link_to '<i class="fa fa-remove"></i>'.html_safe, user_path(student), method: :delete,
                          data: {confirm: 'Вы действительно хотите удалить данные студента?'}, class: 'btn btn-danger btn-xs' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
