<% if @groups.empty? %>
<%else%>

    <table class="table table-bordered table-striped">
      <tr>
        <th>Группа</th>
        <th class="action">Действие</th>
      </tr>
      <% @groups.each do |element| %>
          <tr data-item-id="<%= element.id %>" class="item">
            <td><%= link_to element.name, course_group_path(@course.id, element.id)  %></td>
            <td>
              <%= link_to 'Редактировать', edit_course_group_path(@course.id, element.id), :class => 'btn btn-warning' %>

              <%= link_to 'Удалить', course_group_path(@course.id, element.id),
                          method: :delete,
                          data: {confirm: 'Вы действительно хотите удалить этот элемент курса?'}, :class => 'btn btn-danger'%>
            </td>
          </tr>
      <% end %>

    </table>

<% end %>