<div class="row">
  <div class="col-md-8">
    <%= link_to 'Пользователи', users_path %> >
    <%= 'Обновление пользователя ' + @user.email %>
  </div>
</div>

<%= provide :button_text, 'Обновить пользователя' %>
<%= render 'form' %>