<div class="row">
  <div class="col-md-6">
    <h1>Таблица пользователей</h1>
  </div>
</div></br>

<%= link_to 'Создать пользователя', new_user_path, class: 'btn btn-primary', style: 'margin-bottom: 10px' %>

<table class="table table-bordered table-striped">
  <tr>
    <th>email</th>
    <th style="width:250px;"> Действия </th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%=  user.email  %></td>
        <td>
          <%= link_to 'Удалить', user_path(user),
                      method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить пользователя?'},  :class => 'btn btn-default pull-right'  %>
          <%= link_to 'Редактировать', edit_user_path(user), :class => 'btn btn-default pull-right'  %>
        </td>
      </tr>
  <% end %>

</table>