<% unless @bread_crumbs.nil? %>
  <ol class="breadcrumb">
  <% @bread_crumbs.each do |name, path| %>
      <% if  path.empty? %>
         <li> <%= name %></li>
      <% else %>
         </li> <%= link_to name, path %> /</li>
      <% end %>
  <% end %>
  </ol>
<%end%>