<div id="login_container">
  <div id="form_container">
    <p class="login-text">Авторизация на сайте</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.email_field :email,placeholder: 'Логин', class: 'text_input' %>
        <%= f.password_field :password,placeholder: 'Пароль' , class: 'text_input' %>


        <%= f.submit '', id: 'login' %>
    <% end %>

  </div>
</div>
