<div class="row">
  <div class="col-md-12">
    <%= link_to 'Курсы', courses_path %> >
    <%= 'Создание нового курса' %>
  </div>
</div>

<%= provide :button_text, 'Создать курс' %>
<%=	 render 'courses/form' %>
