// Place all the styles related to the course_element_materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
  width:100%;
  height: 600px;
  border:2px solid black;
  margin-top:20px;
  clear:both;
}