// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.elements-table-position {
  text-align: center;
}

.elements-table-handle {
  font-size: 21px;
  color: #bbb;
  cursor: pointer;
}