html, body {
  height:100%;
  min-height:100%;
}

.error-messages{
  color:red
}


.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.margin-top100{margin-top:100px;}
.margin-top20{margin-top:20px;}
.margin-top60{margin-top:60px;}
.margin-bottom20{margin-bottom:20px;}
.padding-left{padding-left: 59px;}

.vcenter .col-md-4.col-md-offset-4.col-sx-6.col-sx-offset-3 {border:1px solid #ccc;}

.pull-right {
  margin-right: 9px;
}

.action{
  width: 230px;
}

.color_examples{
  padding: 0 0;
  width: 47px;
  float: left;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius: 3px;
}

.time-picker .form-control {
  padding-left: 5px;
  padding-right: 0px;
}
.fc-day-grid-event {
  border:none;
  border-radius: 0;
  padding: 4px;
}

.title{
  display: block;
  text-align: center;

}
.form-course-group{
  margin-left: 20px;
  margin-bottom: 15px;
}