// Place all the styles related to the periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.without_underline:hover{
  color: #fff;
  text-decoration: underline;
}
.without_underline{
  color: #fff;
  text-decoration: underline;
}
.cw{
  background-color: red;
  height: 10px;
}
