// Place all the styles related to the periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.without_underline:hover{
  color: #fff;
  text-decoration: underline;
}
.without_underline{
  color: #fff;
  text-decoration: underline;
}
.cw{
  color: red;
}
.glyphicon{
  font-size: 14px;
}
.removeEvent.glyphicon.glyphicon-trash.pull-right {
  cursor: pointer;
}
#hidden_deadline_time{
  display: none;
}
.flash{
  background: #ffffff;
}
.flash-date{
  background: #ffffff;
}